
        *{margin: 0;padding: 0;}
        li{list-style: none;}
        /* 导航区域开始 */
        .go-nav{
            width: 100%;
            height: 65px;
            background: rgb(195, 158, 158);
        }
        .nav{
            width:1004px ;
            height: 65px;
            background: pink;
            margin: 0 auto;
            display: flex;
        }
        .nav1{
            width: 355px;
            height: 51px;
            background: #f2f2f2;
            padding-top: 14px;
        }
        .nav2{
            width: 649px;
            height: 65px;
            background: #f2f2f2;
        }
        .shouye{
            width: 649px;
            height: 65px;
            
        }
        .nav2 li{
            list-style: none;
            width: 108px;
            float: left;
            font-size: 16px;
            font-weight: 400;
            height: 53px;
            /* text-align: center; */
            /* line-height: 65px; */
           display: flex;
           justify-content: center;
           align-items: flex-end;
           padding-bottom: 12px;
           /* box-sizing: border-box; */
           /* padding-left: 10px;
           padding-right: 10px; */
        }
        .nav2 li:hover{
            background-color: #4e9bd3;
        }
        .nav2 li a{
            /* width: 70px;
            height: 53px;a里面不能设置宽高，不然他的位置就会改变，设置的和li一样，那么就没有水平居中的说法 */
            color: #4a4a4a;
            text-decoration: none;
            display: inline-block;
        }
        .nav2 .li1{
            width: 58px;
            /* height: 53px; */
            background: #00b5ee;
            position: relative;
            margin-left: 26px;
        }
        .nav2 .li1 a{
            color: #fff;
        }
        .li1 .top{
            width: 58px;
            height: 17px;
            background: #00b5ee;
            position: absolute;
            left: 0;
            top:-17px  
        }
        .nav2 .li6{
            margin-right: 0;
        }
        /* 导航区域结束 */


        /* 广告区域开始 */
        .go-banner{
            width: 100%;
            height: 424px;
        }
        .banner img{
            width: 100%;
            height: 424px;
        }
        /* 广告区域结束 */


        /* 产品区域开始 */
        .go-pro{
            width: 100%;
            height: 334px;
            background: #f2f2f2;
        }
        .pro{
            width: 1004px;
            height: 334px;
            background: #f2f2f2;
            margin: 0 auto;
            display: flex;
        }
        .pro1{
            width: 514px;
            height: 334px;
            background: #f2f2f2;
            /* overflow: hidden;   */
            position: relative;  
        }
        .pro1 img{
            display: block;
            width: 121px;
            height: 50px;
            position: absolute;
            left: 0;
            top: -25px;
            z-index: 1000;
        }
        .pro1 h5{
            color:#01b4ec;
            font-size: 16px;
            font-weight: 400;
            /* float: left; */
            margin-right: 52px;
            white-space: nowrap;
        }
        .pro1 p{
            color: #646464;
            font-size: 12px;
            font-weight: 400;
            line-height: 24px;
            /* float: left; */
            

        }
        .pro1-text1{
            width: 514px;
            height: 104px;
            /* background-color: aqua; */
            margin-top: 58px;
            display: flex;
        }
        .pro1-text2{
            width: 514px;
            height: 230px;
            background-color: #f2f2f2;
            display: flex;
        }

        /* 右边的图片 */
        .pro2{
            width: 490px;
            height: 334px;
            background: #f2f2f2;
            /* overflow: hidden; */
            position: relative;
        }
        .pro2 img{
            width: 148px;
            height: 216px;
        }
        .pro2 div{
            width: 148px;
            height: 216px;
            float: left;
            margin-top: 70px;
            /* margin-left: 41px; */
        }
        .pro2 .pro2-1{
            margin-left: 40px;
        }
        .pro2 .pro2-1,.pro2 .pro2-2{
            margin-right: 3px;
        }
        .pro2 .img11{
            width: 92px;
            height: 50px;
            position: absolute;
            left: 0;
            top: -25px;
            z-index: 1000;

        }
        /* 产品区域结束 */


        /* 新闻区域开始 */
        .go-new{
            width: 100%;
            height: 383px;
        }
        .new{
            width: 1004px;
            height: 383px;
            background: rgb(157, 144, 223);
            margin: 0 auto;
            display: flex;
            overflow: hidden;
        }
        .new h2{
            color: #242424;
            font-size: 20px;
            font-weight: 400;
            margin-top: 22px;
            margin-bottom: 47px;
        }
        .new1{
            width: 306px;
            height: 383px;
            background: rgb(178, 210, 122);
            position: relative;
        }
        .new1 .more{
            color: #959595;
            font-size: 12px;
            position: absolute;
            top: 30px;
            right: 10px;
        }
        .new p{
            color: #7d7d7d;
            font-size: 14px;
            font-weight: 400;
            line-height: 22px;
        }
        .n-p1{
            margin-bottom: 28px;
        }
        .new2{
            width: 300px;
            height: 383px;
            background: rgb(139, 181, 67);
            position: relative;
        }
        .new3{
            width: 398px;
            height: 383px;
            background: rgb(143, 200, 45);
            position: relative;
        }
        /* 新闻区域结束 */

        /* 底部区域开始 */
        .go-foot{
            width: 100%;
            height: 230px;
        }
        .foot{
            width: 1004px;
            height: 180px;
            background: rgb(195, 201, 86);
            margin: 0 auto;
            padding-top: 50px;
        }
        .foot1{
            width: 1004px;
            height: 110px;
            background: rgb(211, 165, 165);
        }
        .foot1-left{
            width: 514px;
            height: 110px;
            background-color: aqua;
        }
        .foot1-left ul{
        overflow: hidden;
        }
        .foot1-left ul li{
            list-style: none;
            float: left;
        }
        .foot1-left ul li a{
            color: #383838;
            text-decoration: none;
        }
        .foot2{
            width: 1004px;
            height: 70px;
            background: #383838;
        }
        .foot2 p{
            color: #7b7b7b;
            font-size: 14px;
            text-align: center;
            line-height: 70px;
        }
        /* 底部区域结束 */