html {
    font-size: calc(100vw / 7.5);
}

body {
    font-size: .16rem
        /* 16/100 */
    ;
    background-color: #fbfcfe;
}
/* 头部 */
section{
    width: 100%;
    height: .87rem /* 87/100 */;
    display: flex;
    padding: 0 .23rem /* 23/100 */ 0 .2rem /* 20/100 */;
    justify-content: space-between;
    background-color: #d43c33;
    align-items: center;
    position: fixed;
    top: 0;
}
section h2{
    color: #fff;
    font-size: .32rem /* 34/100 */;
    font-weight: 500;
}
section i{
    color: #fff;
    font-weight: 900;
    font-size: .52rem /* 42/100 */;
}

/* 列表 */
.list{
    width: 100%;
    margin-top: 0.87rem;
}
.list ul{
    width: 100%;
}
.list ul li{
    width: 100%;
    height: 1.11rem /* 111/100 */;
    display: flex;
}

.zuo{
    display: block;
    width: 1.38rem /* 138/100 */;
    color: #d43c33;
    font-size: .54rem /* 54/100 */;
    font-weight: 900;
    text-align: center;
    line-height: 1.11rem /* 111/100 */;
}
.li-center{
    flex: 1;
    display: flex;
    padding-right: .2rem /* 20/100 */;
    justify-content: space-between;
    align-items: center;
    border-bottom: .01rem /* 1/100 */ solid #ccc;
}
.li-center>span{
    color: #424243;
    font-size: .32rem /* 32/100 */;
}
.li-right span{
    color: #a3a4a5;
    font-size: .22rem /* 22/100 */;
}
.li-right i{
    color: #e1e2e3;
}
.list ul li:first-child .li-right i{
    color: #d43c33;
    font-weight: 600;
    padding-right: .1rem /* 10/100 */;
}

/* 分隔 */
.separate{
    width: 100%;
    display: flex;
    height: .6rem /* 60/100 */;
    background-color: #eeeff0;
    padding: 0 .24rem /* 24/100 */ 0 .18rem /* 18/100 */;
    justify-content: space-between;
    align-items: center;
    color: #5f6061;
    font-size: .24rem /* 24/100 */;
}
.sep-left{
    display: flex;
}
.sep-left i{
    margin-right: .2rem /* 20/100 */;
}

/* 歌单1 */
.songList{
    width: 100%;
    margin-bottom: .06rem /* 6/100 */;
}
.song-box{
    width: 100%;
    height: 1.22rem /* 122/100 */;
    display: flex;
    align-items: center;
    padding: .06rem /* 6/100 */ 0 0 .12rem /* 12/100 */;
}
.song-box:last-child .songList-right{
    border-bottom: 0;
}
.songList-left{
    margin-right: .2rem /* 20/100 */;
}
.song-box img{
    width: 1.08rem /* 108/100 */;
    height: 1.08rem /* 108/100 */;
}
.songList-right{
    height: 100%;
    padding-bottom: .1rem /* 6/100 */;
    flex: 1;
    border-bottom: .01rem /* 1/100 */ solid #ccc;
}
.songList-right i{
    color: #86c8ed;
}
.songList-right h6{
    color: #404041;
    font-size: .32rem /* 32/100 */;
    font-weight: 400;
    margin: .22rem /* 22/100 */ 0 .04rem /* 8/100 */;
}
.songList-right p{
    color: #7d7e7f;
    font-size: .24rem /* 24/100 */;
}
.kong{
    width: 100%;
    height: 4rem /* 400/100 */;
    margin-bottom: 1rem /* 100/100 */;
}


/* 底部区域 */
footer{
    width: 100%;
    height: 1rem /* 100/100 */;
    background-color: rgba(39, 39, 37,.9);
    position: fixed;
    bottom: 0;
}
footer ul{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
}
footer ul li{
    color: #989795;
    height: 100%;
    font-size: .2rem /* 20/100 */;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: .2rem /* 4/100 */;
}
footer ul li a{
    color: #989795;
    font-size: .2rem /* 20/100 */;
}
footer ul li i{
    font-weight: 900;
    font-size: .46rem /* 46/100 */;
    margin-bottom: .08rem /* 8/100 */;
}
footer ul li:nth-child(2){
    color: #fff;
}
    


